<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=1400px, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="Public/Image/favicon.ico">

	<title>数据分析</title>

	<!-- Bootstrap core CSS -->
	<link href="../../Public/Css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="../../Public/Css/HomeCss/position.css" rel="stylesheet">
	<link rel='stylesheet' href='../../Public/Css/analysis.css'>
	<!-- Custom javascript for this template -->
	<script src="../../Public/Js/jquery.js"></script>
	<script src="../../Public/Js/echarts.min.js"></script>
	<script src="../../Public/Js/HomeJs/position.js"></script>
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="../../Public/Js/HomeJs/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style type="text/css">
		body{
			background-color: #f2f2f2;
		}
	</style>
</head>
<body>
<div id="wrapper">
	<!--<div class="overlay"></div>-->
	<!-- Sidebar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
		<ul class="nav sidebar-nav">
			<li class="sidebar-brand">
				<a rel="nofollow" rel="noreferrer" href="{:U('../index')}">
					孝行
				</a>
			</li>
			<li>
				<a rel="nofollow"  href="{:U('../index')}"><i class="fa fa-fw fa-home"></i> 主页</a>
			</li>
			<li>
				<a rel="nofollow" rel="noreferrer"href="{:U('dataAnalysis')}"><i class="fa fa-fw fa-folder"></i> 硬件位置（地图）</a>
			</li>
			<li>
				<a rel="nofollow" rel="noreferrer"href="{:U('youmeng')}"><i class="fa fa-fw fa-file-o"></i> 友盟社区</a>
			</li>
			<!--<li>
                <a rel="nofollow" rel="noreferrer"href="#"><i class="fa fa-fw fa-cog"></i> Third page</a>
            </li>-->
			<li class="dropdown">
				<a rel="nofollow" rel="noreferrer"href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-fw fa-plus"></i> 其他分析 <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li class="dropdown-header">数据库数据表</li>
					<li><a rel="nofollow" rel="noreferrer"href="{:U('equip')}">equip</a></li>
					<li><a rel="nofollow" rel="noreferrer"href="{:U('equipment')}">equipment</a></li>
					<li><a rel="nofollow" rel="noreferrer"href="{:U('position')}">position</a></li>
					<li><a rel="nofollow" rel="noreferrer"href="{:U('rail')}">rail</a></li>
					<!--<li><a rel="nofollow" rel="noreferrer"href="#">One more separated link</a></li>-->
				</ul>
			</li>
			<!--<li>
                <a rel="nofollow" rel="noreferrer"href="#"><i class="fa fa-fw fa-bank"></i> Page four</a>
            </li>
            <li>
                <a rel="nofollow" rel="noreferrer"href="#"><i class="fa fa-fw fa-dropbox"></i> Page 5</a>
            </li>-->
			<li>
				<a rel="nofollow" rel="noreferrer"href="{:U('About/about')}"><i class="fa fa-fw fa-twitter"></i>联系我们</a>
			</li>
		</ul>
	</nav>
	<!-- /#sidebar-wrapper -->
	<!-- Page Content -->
	<div id="page-content-wrapper">
		<button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
			<span class="hamb-top"></span>
			<span class="hamb-middle"></span>
			<span class="hamb-bottom"></span>
		</button>
	</div>
	<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<div class="container" id="">
	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div id="chart" style="width: 100%;height: 500px;" ></div>
			<table class="table table-hover" id="top2">
				<thead>
				<tr>
					<th>id</th>
					<th>time</th>
					<th>lat</th>
					<th>lng</th>
					<th>speed</th>
					<th>eid</th>
					<th>inrail</th>
					<th>bettery</th>
				</tr>
				</thead>

				<tbody>
				<volist name="position" id="position">
					<tr>
						<td>{$position['id']}</td>
						<td>{$position['time']}</td>
						<td>{$position['lat']}</td>
						<td>{$position['lng']}</td>
						<td>{$position['speed']}</td>
						<td>{$position['eid']}</td>
						<td>{$position['inrail']}</td>
						<td>{$position['bettery']}</td>
					</tr>
				</volist>
				</tbody>
			</table>
		</div>
		<div class="col-sm-2 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a href="#chart">数据图表</a></li>
				<li><a href="#top2">数据表格</a></li>
			</ul>
		</div>
	</div>
</div>
<!--footer-->
<footer class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<span>Copyright &copy; <a href="http://www.golaravel.com/">孝行团队</a></span> |
				<span>联系方式：<a href="http://www.miibeian.gov.cn/" target="_blank">xiaoxing_TM@163.com</a></span>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript">
    var time='<php>echo $time</php>'
    var count='<php>echo $count</php>'
    var json_time=$.parseJSON(time);
    var json_count=$.parseJSON(count);
    var mychart=$("#chart");
    console.log(mychart);
    var zhu=echarts.init(document.getElementById('chart'));

    option = {
        color: ['#3398DB'],
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                data : json_time,
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'直接访问',
                type:'bar',
                barWidth: '60%',
                data:json_count
            }
        ]
    };
    zhu.setOption(option);
</script>
<!--================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="../../Public/Js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../Public/Js/HomeJs/ie10-viewport-bug-workaround.js"></script>
<script src='../../Public/Js/analysis.js'></script>
</body>
</html>
