<include file="header"/>
<!--<link rel='stylesheet' href='../../Public/Css/HomeCss/hardwarePosition.css'>-->
<link rel='stylesheet' href='../../Public/Css/TableCss/bootstrap-table.css'>
<link rel='stylesheet' href='../../Public/Js/TableJs/extensions/click-edit-row/bootstrap-table-click-edit-row.css'>
<script src="../../Public/Js/TableJs/TableManager/table_feedback.js"></script>
<script src='../../Public/Js/TableJs/bootstrap-table.min.js'></script>
<script src='../../Public/Js/TableJs/bootstrap-table-locale-all.min.js'></script>
<script src='../../Public/Js/TableJs/locale/bootstrap-table-zh-CN.js'></script>
<script src='../../Public/Js/TableJs/extensions/click-edit-row/bootstrap-table-click-edit-row.js'></script>
<script src="../../Public/Js/TableJs/extensions/toolbar/bootstrap-table-toolbar.js"></script>
<style type="text/css">
    /*html{height:100%}*/
    body{background-color: #f2f2f2;margin:0px;padding:0px}
    #container{height:100%}
    .input-group{
        margin:10px auto;
    }
</style>
<div class="container" id="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新增反馈数据</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-eid">用户id</span>
                        <input type="text" class="form-control" placeholder="用户id" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-lat">时间</span>
                        <input type="text" class="form-control" placeholder="时间：2017-10-12 10:10:00" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-lng">反馈详细信息</span>
                        <input type="text" class="form-control" placeholder="反馈详细信息" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-radius">是否已改正</span>
                        <select class="form-control" placeholder="是否已改正 0：未更改，1：已更正">
                            <option>0</option>
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="model_save" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <!--table Toolbar-->
            <div id="toolbar">
                <button id="button_remove" class="btn btn-default">删除数据</button>
                <!-- Button trigger modal -->
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">新增数据</button>
            </div>
            <table class="table table-hover" id="table" data-toggle="table" data-url="feedback_json"
                   data-pagination=true data-page-list='[10, 25, 50, 100, All]' data-select-item-name='btSelectItem'
                   data-smart-display=true data-search="true" data-show-columns="true" data-show-refresh="true"
                   data-show-toggle="true" data-show-pagination-switch="true"
                   data-click-to-select="true" data-click-edit="true" data-unique-id="id"
                   data-toolbar="#toolbar"
                   data-advanced-search="true"
                   data-id-table="advancedTable">
                <thead>
                    <tr>
                        <th data-checkbox="true">id</th>
                        <th data-field="id">id</th>
                        <th data-field="uid" data-editable="input">用户id</th>
                        <th data-field="time" data-editable="input">时间</th>
                        <th data-field="desc" data-editable="input">反馈详细信息</th>
                        <th data-field="hasrepaired" data-editable="input">是否更正错误</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<include file="footer"/>